<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <%include ../static/partials/navbar.ejs %>
        <main class="containers">
            <% include ../static/partials/messages.ejs %>
            <% if(currentUser) { %>
                    <div class="content">
                        <form action="/music/search" method="post" class="searchform">
                                <input type="text" class="form-control" name="query" aria-describedby="queryHelp" placeholder="Search artist">
                                <button type="submit" class="btnsearch"><img src="/icon-search.svg" class="imgsearch"></button>
                        </form>          
                        <% if(artists) { %>
                            <% artists.items.forEach((artist) => { %>
                                <a href="/music/artistview/<%= artist.id %>">
                                    <div class="artists">
                                        <% if(artist.images[0]) { %>
                                            <div class="artistimg-container">
                                                <img src="<%= artist.images[0].url %>" class="artist-img" alt="picture of artist">
                                            </div>
                                        <% } else { %>
                                            <div>
                                                <div class="empty-image">
                                                    <p class="noimage">No Image Available</p>
                                                </div>
                                            </div>
                                        <% } %>
                                        <div>
                                            <p class="artist-name"><%= artist.name %></p>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                        <% } %>
                    </div>
            <% } %>
        </main>
        <% include ../static/partials/footer.ejs %>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>

