<!DOCTYPE html>
<html lang="en">
    <head class="bg">
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <%include ../static/partials/navbar.ejs %>
        <main class="container">
            <% include ../static/partials/messages.ejs %>
            <% if(currentUser) { %>
                    <div class="col-auto" style="margin-top: 3%; margin-bottom: 3%;">
                        <form action="/music/search" method="post" style="padding-left: 30%;">
                            <div class="col-lg-7">
                                <input type="text" class="form-control" name="query" aria-describedby="queryHelp" placeholder="Search artist">
                            </div>
                        </form>
                    </div>
                    <% if(artist) { %>
                        <div class="text-center">
                            <h2><%= artist.name %></h2>
                            
                        </div>
                        <div class="card" style="width: 50%; background: none; border: none; margin-left: 25%;">
                            <% albums.items.forEach((album) => { %>
                                    <div class="card" style="background-color: #ffffff; opacity: 0.5; margin-bottom: 2%;">
                                        <div class="card-body text-center">
                                                <p class="card-text" style="font-size: 1.5em;"><%= album.name %></p>
                                        </div>
                                    </div>
                            <% }) %>
                        </div>
                    <% } %>
            <% } %>
        </main>
        <% include ../static/partials/footer.ejs %>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>