<nav class="bg">
    <a href="/"><img src="/Logo1.png" alt="Logo" class="logo"></a>
        <a class="nav-title" href="/">Music Notifier</a>
        <div class="navlist-wrapper">
            <div class="nav-list">
                <% if(currentUser) { %>
                    <div class="navbar-item">
                        <a class="navbar-link" href="/users/sign_out">Sign out</a>
                    </div>
                <% } else { %>
                    <div class="navbar-item">
                        <a class="navbar-link" href="/users/sign_in">Sign in</a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-link" href="/users/sign_up">Sign up</a>
                    </div>
                <% } %>
                </div>
        </div>
    </div>
</nav>