<!DOCTYPE html>
<html lang="en">
    <head class="bg">
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <%include ./partials/navbar.ejs %>
        <main class="containers">
            <% include ./partials/messages.ejs %>
            <% if(currentUser) { %>
                    <div class="content index-search">
                        <form action="/music/search" method="post" class="searchform">
                                <input type="text" class="form-control" name="query" aria-describedby="queryHelp" placeholder="Search artist">
                                <button type="submit" class="btnsearch"><img src="/icon-search.svg" class="imgsearch"></button>
                        </form>
                    </div>
            <% } %>
        </main>
        <% include ./partials/footer.ejs %>
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>