<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="containers">
                <% include ../static/partials/messages.ejs %>
                <h1>Sign in</h1>

                <form action="/users/sign_in" method="post" class="signin">

                    <div class="form-item">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>

                    <div class="form-item">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
                    </div>

                    <button type="submit" class="btn btn-primary" id="btn-signin">Sign in</button>
                </form>
        </main>
        <% include ../static/partials/footer.ejs %>
        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>